﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
<table>
    <tr>
        <th>
            Number 1:
        </th>
        <td>
            @Html.TextBox("txt_Number1")
        </td>
    </tr>
    <tr>
        <th>
            Number 2:
        </th>
        <td>
            @Html.TextBox("txt_Number2")
        </td>
    </tr>
    <tr>
        <th>
            Result:
        </th>
        <td>
            @Html.TextBox("txt_Result", (string)ViewBag.Result)
        </td>
    </tr>
    <input type="submit" value="Calculate" />
</table>
}